n8n_workflows/Criar_Edicao_SPORTS.json
{
  "name": "Criar_Edicao_SPORTS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "6756145a-dde9-4d7b-a4c5-24a383593678",
      "name": "Cron: Fechamento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM posts WHERE world = 'SPORTS' AND status = 'pending' ORDER BY score DESC LIMIT 20;",
        "options": {}
      },
      "id": "c4852289-5e78-4860-b1d4-5c7f06641f2d",
      "name": "DB: Buscar Top Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -624,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst posts = $input.all().map(item => item.json);\nreturn {\n  json: { posts: posts }\n};\n"
      },
      "id": "9a180abf-707d-4fae-868e-91feabf16f7a",
      "name": "Agrupar Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "630da9ae-8a5b-4780-9ce6-f9fcaddb4729",
              "leftValue": "={{ $json.posts.length }}",
              "operator": {
                "type": "number",
                "operation": "larger"
              },
              "rightValue": 0
            },
            {
              "id": "be9cac03-7827-461c-9d69-58d5fdb262ec",
              "leftValue": "={{ $json.posts }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a3cc3915-9134-4bc6-87cf-5591c4697219",
      "name": "Posts Encontrados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst posts = $json.posts;\nconst titles = posts.map(p => p.title).join('\\n- ');\nconst contentStr = posts.map(p => `TÍTULO: ${p.title}\\nRESUMO: ${p.summary}`).join('\\n\\n');\n\nreturn {\n  world: 'SPORTS',\n  posts: posts,\n  titles_list: titles,\n  content_to_read: contentStr\n};\n"
      },
      "id": "86604fa8-0403-4c69-bd18-753bdaa1560c",
      "name": "Formatar Posts p/ IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "GPT-5.4-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Você é o Editor-Chefe da Edição Diária da Fresh News.\nEscreva os metadados da capa da newsletter para o mundo SPORTS.\n\nPOSTS SELECIONADOS PARA HOJE:\n{{ $json.content_to_read }}\n\nSua missão é escrever um objeto JSON com a Capa da Edição.\nA `intro` deve ser um parágrafo envolvente em pt-BR que faz um 'tease' das matérias do dia, com foco nas rivalidades e táticas esportivas.\nO `title` DEVE SER uma manchete incrível baseada na melhor notícia do dia. PROIBIDO escrever \"Edição de hoje\" ou colocar data.\n\nCONTRATO DE SAÍDA (Apenas JSON):\n{\n  \"title\": \"Manchete forte e criativa baseada no post mais impactante (Máx 60 chars). NUNCA use 'Edição' ou data.\",\n  \"intro\": \"Parágrafo editorial denso e envolvente com pegada esportiva. (300 a 400 chars)\",\n  \"quickTakes\": [\n    \"🔥 [Manchete 1 ultra curta]\",\n    \"⚡ [Manchete 2 ultra curta]\"\n  ],\n  \"whatsapp_greeting\": \"*Saudação em negrito*\n_Frase de impacto esportivo em itálico_\",\n  \"whatsapp_farewell\": \"Despedida temática no estilo das grandes coberturas esportivas...\"\n}"
            },
            {
              "content": "=Gere os metadados da edição."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2b8e511b-e486-4100-8278-303031411c85",
      "name": "IA: Editor de Fechamento",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        112,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Navegar até onde a IA REALMENTE escondeu o texto\nlet aiText = \"\";\nif ($json.output && Array.isArray($json.output) && $json.output[0] && $json.output[0].content) {\n  aiText = $json.output[0].content[0].text || \"\";\n} else {\n  aiText = $json.text || $json.content || \"\";\n}\n\n// 2. Extrair o bloco JSON da resposta\nlet parsed = {};\ntry {\n  const match = aiText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  }\n} catch(e) {}\n\nconst posts = $('Formatar Posts p/ IA').item.json.posts;\n\n// Agrupar posts por categoria\nconst categoriesMap = {};\nposts.forEach(post => {\n  const catName = (post.sub_category || post.category || \"GERAL\").toUpperCase();\n  if (!categoriesMap[catName]) categoriesMap[catName] = [];\n  \n  let themeObj = {};\n  try {\n     themeObj = typeof post.theme_config === 'string' ? JSON.parse(post.theme_config) : post.theme_config;\n  } catch(e){}\n\n  categoriesMap[catName].push({\n    headline: post.title,\n    story: post.summary,\n    link: post.url,\n    theme: themeObj || {}\n  });\n});\n\nconst categoriesList = Object.keys(categoriesMap).map(key => {\n  return { name: key, items: categoriesMap[key] };\n});\n\nconst contentJson = {\n  title: parsed.title || \"Fresh News Edição\",\n  intro: parsed.intro || \"Sem resumo disponível.\",\n  quickTakes: parsed.quickTakes || [],\n  categories: categoriesList,\n  image_prompt: \"\"\n};\n\nreturn {\n  title: parsed.title || \"Fresh News Edição\",\n  intro: parsed.intro || \"\",\n  whatsapp_greeting: parsed.whatsapp_greeting || \"\",\n  whatsapp_farewell: parsed.whatsapp_farewell || \"\",\n  world: $('Formatar Posts p/ IA').item.json.world,\n  content_json: contentJson,\n  post_ids: posts.map(p => p.id)\n};\n"
      },
      "id": "231cef48-325a-4ee1-83eb-e77c2b5cc09f",
      "name": "Montar content_json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(edition_number), 0) + 1 AS next_ed FROM newsletters WHERE world = 'SPORTS';",
        "options": {}
      },
      "id": "74e6e646-5da7-44d5-94cb-e9578abeb3ed",
      "name": "DB: Pegar Ultima Edicao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO newsletters (edition_number, world, title, summary_intro, content_json, whatsapp_greeting, whatsapp_farewell, status) VALUES ({{ $json.next_ed }}, '{{ $('Montar content_json').item.json.world }}', '{{ $('Montar content_json').item.json.title.replace(/'/g, \"''\") }}', '{{ $('Montar content_json').item.json.intro.replace(/'/g, \"''\") }}', '{{ JSON.stringify($('Montar content_json').item.json.content_json).replace(/'/g, \"''\") }}', '{{ $('Montar content_json').item.json.whatsapp_greeting.replace(/'/g, \"''\") }}', '{{ $('Montar content_json').item.json.whatsapp_farewell.replace(/'/g, \"''\") }}', 'draft') RETURNING id;",
        "options": {}
      },
      "id": "d72e4847-6234-4b4d-9354-60ba077387d8",
      "name": "DB: Insert Newsletter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE posts SET status = 'published', newsletter_id = '{{ $json.id }}' WHERE id = ANY(ARRAY[{{ $('Montar content_json').item.json.post_ids.map(id => `'${id}'`).join(',') }}]::uuid[]);",
        "options": {}
      },
      "id": "24616882-e97d-4946-8efc-5b54a36248be",
      "name": "DB: Update Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron: Fechamento": {
      "main": [
        [
          {
            "node": "DB: Buscar Top Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Buscar Top Posts": {
      "main": [
        [
          {
            "node": "Agrupar Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Array": {
      "main": [
        [
          {
            "node": "Posts Encontrados?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts Encontrados?": {
      "main": [
        [
          {
            "node": "Formatar Posts p/ IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Posts p/ IA": {
      "main": [
        [
          {
            "node": "IA: Editor de Fechamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Editor de Fechamento": {
      "main": [
        [
          {
            "node": "Montar content_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar content_json": {
      "main": [
        [
          {
            "node": "DB: Pegar Ultima Edicao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Pegar Ultima Edicao": {
      "main": [
        [
          {
            "node": "DB: Insert Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Insert Newsletter": {
      "main": [
        [
          {
            "node": "DB: Update Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "010f794b-cfd6-4e22-9f69-2ae69543b00b",
  "meta": {
    "instanceId": "81d0635acec5467d6fba560d241108a93e1dbf19557fd3600a3d2fa845284989"
  },
  "id": "NvBnXT0xZ3LDiW2R",
  "tags": []
}