n8n_workflows/Fresh_News_Master.json
{
  "name": "Fresh_News_Master",
  "nodes": [
    {
      "id": "f7c4b2ae-f0ba-4cf2-b869-82af31073ff1",
      "name": "Cron: Ingestão",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "bbed4d2a-94a6-4da3-9b29-ab28699769af",
      "name": "DB: Buscar Fontes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        200,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.sources WHERE is_active = true;\n"
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "7e5a586e-936f-4e00-b02f-52b7bf1f5a82",
      "name": "Loop Fontes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "parameters": {},
      "credentials": {}
    },
    {
      "id": "8aa50aff-d906-45dd-aa88-d38147fceccf",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "url": "={{ $json.rss_url }}"
      },
      "credentials": {}
    },
    {
      "id": "101a3e4d-6a8b-4722-917d-f38e60d726b2",
      "name": "Loop Notícias",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        0
      ],
      "parameters": {},
      "credentials": {}
    },
    {
      "id": "7f032d6a-cdbc-4a25-9caf-45cab5d6364d",
      "name": "DB: Verifica URL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT '{{ $json.link }}' AS link, EXISTS(SELECT 1 FROM posts WHERE url = '{{ $json.link }}') AS ja_existe;"
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "329a5ab2-3f77-4f6d-bf8d-156e1db7e34a",
      "name": "É nova?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.ja_existe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "581f142b-f047-457c-bf8f-f8596986089f",
      "name": "API: Firecrawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://firecrawl.wfixtech.com.br/v1/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Loop Notícias').item.json.link }}\",\n  \"formats\": [\"markdown\"]\n}"
      },
      "credentials": {}
    },
    {
      "id": "8364f9ba-34b0-45bf-b98b-fde1de881690",
      "name": "IA: Master Categorizer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1600,
        0
      ],
      "parameters": {
        "modelId": {
          "value": "gpt-5.4-mini",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Você é o Editor-Chefe da Fresh News.\nO artigo recebido pertence ao mundo: {{ $('Loop Fontes').item.json.world }}.\n\nDIRETRIZES GERAIS:\nEscreva um resumo denso, direto e sem hype. Fale de especialista para especialista. Em pt-BR.\n\nMUNDOS E SUBCATEGORIAS:\n- TECH: SEC, IA, DEV, CLOUD\n- GAME: PC, CONSOLE, ESPORTS, INDIE\n- MUSIC: ARTISTAS, PRODUCAO, INDIE, LANCAMENTOS\n- GEAR: GADGETS, HARDWARE, AUTOMOTIVO, DIY\n\nCONTRATO DE SAÍDA (Apenas JSON válido):\n{\n  \"title\": \"Manchete forte em pt-BR (Máx 60 chars)\",\n  \"summary\": \"Micro-reportagem técnica. (300 a 400 chars)\",\n  \"whatsapp_summary\": \"🔥 [Manchete Curta]. [Veredicto]. (Máx 160 chars)\",\n  \"relevance_score\": [0 a 100],\n  \"category\": \"Preencha com o nome da categoria macro (ex: TECH_HACKER, GAME_BUILDER, MUSIC_MAKER, GEAR_SETUP)\",\n  \"sub_category\": \"Escolha a subcategoria exata da lista acima que melhor encaixa no texto\",\n  \"theme_config\": {\n    \"dna\": \"Preencha com o DNA (TECH_HACKER, GAME_GOLD, SYNTHWAVE_PURPLE, GEAR_RED)\",\n    \"primary_color\": \"#0D0D0D\",\n    \"accent_color\": \"#00FF41\",\n    \"font_style\": \"Mono\",\n    \"ui_effects\": [\"scanlines\"]\n  }\n}"
            },
            {
              "content": "={{ $json.data.markdown }}"
            }
          ]
        }
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "a1ebdd45-bb29-48fb-af32-08d691f0e0be",
      "name": "Limpar JSON Ingestão",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        0
      ],
      "parameters": {
        "jsCode": "\nconst aiText = $json.content || \"{}\";\nlet parsed = {};\ntry {\n  parsed = JSON.parse(aiText.replace(/```json/g, \"\").replace(/```/g, \"\").trim());\n} catch(e) {}\n\nreturn {\n  title: parsed.title || \"Sem título\",\n  summary: parsed.summary || \"\",\n  whatsapp_summary: parsed.whatsapp_summary || \"\",\n  score: parsed.relevance_score || 0,\n  category: parsed.category || \"TECH_HACKER\",\n  sub_category: parsed.sub_category || \"DEV\",\n  theme_config: parsed.theme_config || {},\n  world: $('Loop Fontes').item.json.world,\n  url: $('Loop Notícias').item.json.link,\n  content: $('API: Firecrawl').item.json.data.markdown\n};\n"
      },
      "credentials": {}
    },
    {
      "id": "002a39c2-7437-4050-88d9-6a0675d44d7f",
      "name": "DB: Insert Post",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2000,
        0
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO posts (title, summary, url, content, category, sub_category, theme_config, score, status, world, whatsapp_summary, metadata) VALUES ('{{ $json.title.replace(/'/g, \"''\") }}', '{{ $json.summary.replace(/'/g, \"''\") }}', '{{ $json.url }}', '{{ $json.content.replace(/'/g, \"''\") }}', '{{ $json.category }}', '{{ $json.sub_category }}', '{{ JSON.stringify($json.theme_config) }}', {{ $json.score }}, 'pending', '{{ $json.world }}', '{{ $json.whatsapp_summary.replace(/'/g, \"''\") }}', '{{ JSON.stringify({category: $json.category, sub_category: $json.sub_category, theme_config: $json.theme_config, whatsapp_summary: $json.whatsapp_summary}) }}');"
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "541fdc7d-a904-4a41-9538-fb6cbd7b7cf9",
      "name": "Cron: Fechamento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "aa830cfe-d21d-4e4b-ac10-b0ec01845f4b",
      "name": "Definir Mundos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        600
      ],
      "parameters": {
        "jsCode": "return [\n  {json: {world: 'TECH'}},\n  {json: {world: 'GAME'}},\n  {json: {world: 'MUSIC'}},\n  {json: {world: 'GEAR'}}\n];"
      },
      "credentials": {}
    },
    {
      "id": "dad5b6bd-e956-4a5e-ae43-5067604453ce",
      "name": "Loop Mundos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        600
      ],
      "parameters": {},
      "credentials": {}
    },
    {
      "id": "acff0adf-d8ac-4c2c-93dd-50ffd88ec569",
      "name": "DB: Buscar Top Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM posts WHERE world = '{{ $json.world }}' AND status = 'pending' ORDER BY created_at DESC LIMIT 5;"
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "de796fc7-d53b-4796-a3b6-fa9daa243343",
      "name": "Agrupar Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        600
      ],
      "parameters": {
        "jsCode": "\nconst posts = $input.all().map(item => item.json);\n// Retorna um item array ao invés de itens soltos para manter no flow\nreturn {\n  json: { posts: posts }\n};\n"
      },
      "credentials": {}
    },
    {
      "id": "ec8a70e4-8f13-4107-ae2e-63fd36671891",
      "name": "Posts Encontrados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        900,
        600
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.posts.length }}",
              "operator": {
                "type": "number",
                "operation": "larger"
              },
              "rightValue": 0
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "2abc55f4-30fc-4017-9012-cc169db7ead3",
      "name": "Formatar Posts p/ IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        600
      ],
      "parameters": {
        "jsCode": "\nconst posts = $json.posts;\nconst titles = posts.map(p => p.title).join('\\n- ');\nconst contentStr = posts.map(p => `TÍTULO: ${p.title}\\nRESUMO: ${p.summary}`).join('\\n\\n');\n\nreturn {\n  world: $('Loop Mundos').item.json.world,\n  post_ids: posts.map(p => p.id),\n  titles_list: titles,\n  content_to_read: contentStr\n};\n"
      },
      "credentials": {}
    },
    {
      "id": "267c933d-6664-4bb9-a65b-8c030dc0bd34",
      "name": "IA: Editor de Fechamento",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1300,
        600
      ],
      "parameters": {
        "modelId": {
          "value": "gpt-5.4-mini",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Você é o Editor-Chefe da Edição Diária da Fresh News.\nEscreva a capa da newsletter para o mundo: {{ $json.world }}.\n\nPOSTS SELECIONADOS PARA HOJE:\n{{ $json.content_to_read }}\n\nSua missão é escrever um objeto JSON com a Capa da Edição (Intro).\nA `intro` deve ser um parágrafo envolvente em pt-BR que faz um 'tease' das matérias do dia, com um tom de conversa sarcástico e inteligente.\nA `whatsapp_greeting` deve ser a mensagem inicial que enviamos no WhatsApp. Ex: \"*Sintonizado na Frequência*\\n_Prepare-se para uma viagem..._\"\n\nCONTRATO DE SAÍDA (Apenas JSON):\n{\n  \"title\": \"Manchete principal da Edição baseada no post mais impactante (Máx 60 chars)\",\n  \"intro\": \"Parágrafo editorial denso e envolvente. (400 chars)\",\n  \"whatsapp_greeting\": \"*Saudação em negrito*\\n_Frase de impacto em itálico_\",\n  \"whatsapp_farewell\": \"Despedida temática no estilo do mundo...\"\n}"
            },
            {
              "content": "Gere a capa da edição."
            }
          ]
        }
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "a6de89d8-2c07-482c-a73f-979ee5f0c2fa",
      "name": "Limpar JSON Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        600
      ],
      "parameters": {
        "jsCode": "\nconst aiText = $json.content || \"{}\";\nlet parsed = {};\ntry {\n  parsed = JSON.parse(aiText.replace(/```json/g, \"\").replace(/```/g, \"\").trim());\n} catch(e) {}\n\nreturn {\n  title: parsed.title || \"Fresh News Edição\",\n  intro: parsed.intro || \"\",\n  whatsapp_greeting: parsed.whatsapp_greeting || \"\",\n  whatsapp_farewell: parsed.whatsapp_farewell || \"\",\n  world: $('Formatar Posts p/ IA').item.json.world,\n  post_ids: $('Formatar Posts p/ IA').item.json.post_ids\n};\n"
      },
      "credentials": {}
    },
    {
      "id": "cfd6ce14-4100-43ec-b0cc-17491938942e",
      "name": "DB: Pegar Ultima Edicao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1700,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(edition_number), 0) + 1 AS next_ed FROM newsletters;"
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "fc99d7f7-64a3-4c80-b4bc-ce6a355ad7b3",
      "name": "DB: Insert Newsletter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1900,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO newsletters (edition_number, world, title, intro, whatsapp_greeting, whatsapp_farewell, status) VALUES ({{ $json.next_ed }}, '{{ $('Limpar JSON Newsletter').item.json.world }}', '{{ $('Limpar JSON Newsletter').item.json.title.replace(/'/g, \"''\") }}', '{{ $('Limpar JSON Newsletter').item.json.intro.replace(/'/g, \"''\") }}', '{{ $('Limpar JSON Newsletter').item.json.whatsapp_greeting.replace(/'/g, \"''\") }}', '{{ $('Limpar JSON Newsletter').item.json.whatsapp_farewell.replace(/'/g, \"''\") }}', 'draft') RETURNING id;"
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "6ea89437-0933-4cff-bba7-8cdf29c66196",
      "name": "DB: Update Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2100,
        600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE posts SET status = 'published', newsletter_id = '{{ $json.id }}' WHERE id = ANY(ARRAY[{{ $('Formatar Posts p/ IA').item.json.post_ids.map(id => `'${id}'`).join(',') }}]::uuid[]);"
      },
      "credentials": {
        "postgres": {
          "id": "pP8yWr9x5fTmLR7m",
          "name": "Postgres account 2"
        },
        "openAiApi": {
          "id": "wcWQeHLQ90vJVbyG",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Cron: Ingestão": {
      "main": [
        [
          {
            "node": "DB: Buscar Fontes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Buscar Fontes": {
      "main": [
        [
          {
            "node": "Loop Fontes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Fontes": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Notícias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Notícias": {
      "main": [
        [
          {
            "node": "DB: Verifica URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Fontes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Verifica URL": {
      "main": [
        [
          {
            "node": "É nova?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É nova?": {
      "main": [
        [
          {
            "node": "API: Firecrawl",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Notícias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Firecrawl": {
      "main": [
        [
          {
            "node": "IA: Master Categorizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Master Categorizer": {
      "main": [
        [
          {
            "node": "Limpar JSON Ingestão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar JSON Ingestão": {
      "main": [
        [
          {
            "node": "DB: Insert Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Insert Post": {
      "main": [
        [
          {
            "node": "Loop Notícias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron: Fechamento": {
      "main": [
        [
          {
            "node": "Definir Mundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Mundos": {
      "main": [
        [
          {
            "node": "Loop Mundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Mundos": {
      "main": [
        [
          {
            "node": "DB: Buscar Top Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Buscar Top Posts": {
      "main": [
        [
          {
            "node": "Agrupar Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Array": {
      "main": [
        [
          {
            "node": "Posts Encontrados?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts Encontrados?": {
      "main": [
        [
          {
            "node": "Formatar Posts p/ IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Mundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Posts p/ IA": {
      "main": [
        [
          {
            "node": "IA: Editor de Fechamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Editor de Fechamento": {
      "main": [
        [
          {
            "node": "Limpar JSON Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar JSON Newsletter": {
      "main": [
        [
          {
            "node": "DB: Pegar Ultima Edicao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Pegar Ultima Edicao": {
      "main": [
        [
          {
            "node": "DB: Insert Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Insert Newsletter": {
      "main": [
        [
          {
            "node": "DB: Update Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Update Posts": {
      "main": [
        [
          {
            "node": "Loop Mundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}